/* 全局盒模型 + 防溢出 */
view, text, scroll-view, input, textarea, button, image {
  box-sizing: border-box;
}

page {
  font-size: $font-sm;
  color: $text-primary;
  background-color: $bg-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  overflow-x: hidden;
  width: 100%;
}
